@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {   
    :focus-visible {
        @apply ring-2 ring-todo_blue-300 outline-none
      }
      
    ::selection {
        @apply text-white bg-todo_blue-300
    }

    html {
        font-family: 'Poppins', sans-serif;
        
        @media (max-width: 640px) {
            font-size: 87.5%;
        }
    }

  ::-webkit-scrollbar {
        width: 0.375rem;
      }

  ::-webkit-scrollbar-track {
        @apply bg-transparent
      }
   
  ::-webkit-scrollbar-thumb {
        @apply bg-todo_blue-300 rounded-lg 
    }
    
  ::-webkit-scrollbar-thumb:hover {
        @apply bg-todo_blue-500 
    }
  
  

}